* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Container styles */
.container 
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    padding: 0 0;
}

/* Set maximum width for containers */
.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    max-width: 1349px;
}
/* --------------------------------------NAVBAR---------------------------------------------- */
/* Navbar styles */
.navbar .navbar-expand-lg .bg-light {
    margin-left: 10px;
}

.navbar-brand {
    margin-left: 85px;
}

.navbar-toggler {
    margin-right: 6px;
}

/* Button styles */
.btn-outline-success {
    margin-right: 85px;
}
/* ----------------------------------CUSTOM IMAGE FLEX--------------------------------------- */
/* Image styles */
.img {
    width: 400px;
    height: 300px;
}

/* Description styles */
.descpt {
    text-align: center;
}

/* Flex container styles */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 20px 20px 20px;
    column-gap: 20px;
    /* Centers items vertically */
    align-items: center;
}

/* Flex item styles */
.flex-item {
    flex: 1 0 30%;
    margin-bottom: 30px;
    text-align: center;
}

/* Image styles within flex items */
.flex-item img {
    max-width: 100%;
    height: 300px;
}

/* Media query for smaller screens */
@media screen and (max-width: 969px) {
    .flex-item {
        flex: 1 0 48%;
    }

    .navbar-brand {
        margin-left: 6px;
    }

    /* Centers the third image on smaller screens */
    .flex-item:nth-child(3) {
        margin: auto;
    }
}

/* Media query for smallest screens */
@media screen and (max-width: 480px) {
    .flex-item {
        flex: 1 0 100%;
    }
    .navbar-brand {
        margin-left: 6px;
    }
}

/* -------------------------------GRID STARTS------------------------------------------------- */
.gallery {
    display: grid;
    margin: 20px 35px;
    width: 94%;
    grid-template-columns: 38% 17% 17% 28%;
    grid-template-rows: 24% 24% 46%;;
    grid-gap: 10px;
  }
  
  .gallery img {
    width: 96%;
    height: 100%;
    object-fit: cover;
  }

  #item-1{
    grid-row-start: 1;
    grid-row-end: 3;
  }
  #item-2{
    grid-column-start: 2;
    grid-column-end: 5;
    margin-right: -20px;
  }
  
  @media screen and (max-width: 969px) {
    .gallery{
        margin: 20px 20px;
        width: 88%;
    }
    #item-2{
        margin-right: -3%;
      }
  }
  
  @media screen and (max-width: 480px) {
    .gallery {
        margin: 20px 14px;
        width: 86%;
    }
  }
  /* --------------------------------------Card-------------------------------------------- */
  .card-group{
    margin: 20px 20px;
    column-gap: 20px;
  }
  /* ---------------------------------------FOOTER------------------------------------------ */
 footer{
    width: 94%;
    margin-top: 55px;
}
.row{
    margin-bottom: 30px;
}
.rights{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-left: 45px;
} 
@media screen and (max-width: 480px) {
    .rights{
        flex-direction: column;
        margin-left: -5px;
    }
    .rights .btn{
        display: flex;
        margin-right: -19px;
        justify-content: end;
    }
}